<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <link rel="icon" type="image/png" href="/images/logo.png" />
    <link rel="stylesheet" href="/css/main.css">

    <title>{{ site.title }}</title>
  </head>

  <body>
    <div class="header">
      <div class="container">
        <div class="logo">
          <a href="/">
            <img src="/images/logo.svg">
          </a>

          {% if page.locale == 'en' %}
            <a href="/">
          {% else %}
            <a href="/fr/">
          {% endif %}
            <h1>DaPlayer</h1>
          </a>
        </div>

        <div class="locale">
          <div class="icon">
            <img src="/images/lang.svg">
          </div>

          <div class="text">
            {% if page.locale == 'en' %}
              en | <a href="{{ site.navs[page.section].href['fr'] | default: '/fr' }}">fr</a>
            {% else %}
              <a href="{{ site.navs[page.section].href['en'] | default: '/' }}">en</a> | fr
            {% endif %}
          </div>
        </div>

        <div class="nav">
          <ul>
            {% for link in site.navs %}
              <li>
                {% if page.section == link[0] %}
                  <a href="{{ link[1].href[page.locale] }}" class="active">
                {% else %}
                  <a href="{{ link[1].href[page.locale] }}">
                {% endif %}
                  <span class="octicon octicon-{{ link[1].icon }}"></span> &nbsp; {{ link[1].title[page.locale] }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
